opam-version: "2.0"
file-depends: [
  "C:\\Users\\Blitz\\AppData\\Local\\Programs\\DiskuvOCaml\\bin\\with-dkml.exe"
  "sha256=bc7296e6b7d7e760f296cd003f26b41622e313ce653be3c40abda764c5bf71f6"
]
variables {
  location-native:
    "C:\\Users\\Blitz\\AppData\\Local\\Programs\\DISKUV~1\\bin\\WITH-D~1.EXE"
  location-mixed:
    "C:/Users/Blitz/AppData/Local/Programs/DiskuvOCaml/bin/with-dkml.exe"
}
