opam-version: "2.0"
file-depends: [
  [
    "C:\\Users\\Blitz\\AppData\\Local\\Programs\\DiskuvOCaml\\usr\\bin\\ocamlc.exe"
    "md5=9fb5e3b60813c4e04e50a8f86b92895d"
  ]
  [
    "C:\\Users\\Blitz\\AppData\\Local\\Programs\\DiskuvOCaml\\lib\\ocaml\\graphics.cmi"
    "md5=00000000000000000000000000000000"
  ]
]
variables {
  path: "C:\\Users\\Blitz\\AppData\\Local\\Programs\\DISKUV~1\\usr\\bin"
}
